*{
    margin: 0;
    padding: 0;
}

.hadeing{
    text-align: center;
    color: red;
}

.experts{
    text-align: center;
    color: black;
}

hr{
    width: 15%;
    height: 2.5px;
    color: red;
    background-color: red;
    border: none;
    margin-left: 42.7%;
    margin-top: 10px;
}

.lorem{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

.main{
    display: flex;
    margin: 10px;
    margin-top: 40px;
}

.dhrupal_bhatiya1{
    border: solid 1px;
    height: 15rem;
    width: 20rem;
    margin-left: 7rem;
    background-image: url("img/portrait-handsome-bearded-man-chief-cook-holding-saucepan-make-okay-sign.jpg");
    background-position: center;
    background-size: cover;
    border: none;
}

.dhrupal_bhatiya2{
    border: solid 1px;
    height: 15rem;
    width: 20rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-image: url("img/happy-young-cook-uniform-holding-salad.jpg");
    background-position: center;
    background-size: cover;
    border: none;

   
}

.dhrupal_bhatiya3{
    border: solid 1px;
    height: 15rem;
    width: 20rem;
    margin-right: 6rem;
    background-image: url("img/portrait-smiling-chef-uniform.jpg");
    background-position: center;
    background-size: cover;
    border: none;
}

.main2{
    display: flex;
}

.prep_chefs1{
    border: solid 1px;
    height: 8vh;
    width: 16rem;
    background-color: white;
    border: none;
    margin-left: 9.5rem;
    margin-top: -40px;
    box-shadow: inset;
    box-shadow: 0px 1px 8px ;

}

.prep_chefs2{
    border: solid 1px;
    height: 8vh;
    width: 16rem;
    background-color: white;
    border: none;
    margin-left: 9.1rem;
    margin-right: 9.1rem;
    margin-top: -40px;
    box-shadow: inset;
    box-shadow: 0px 1px 8px ;
}

.prep_chefs3{
    border: solid 1px;
    height: 8vh;
    width: 16rem;
    background-color: white;
    border: none;
    margin-right: 6rem;
    margin-top: -40px;
    box-shadow: inset;
    box-shadow: 0px 1px 8px ;
}

.name{
    text-align: center;
}

.pcolor{
    color: red;
    text-align: center;
}

.main_text{
    display: flex;
}

.text1{
    text-align: center;
    font-size: medium;
    border: solid 1px;
    height: 10.8rem;
    width: 20rem;
    margin-left: 7.6rem;
    margin-top: -20px;
    padding-top: 4rem;
    border: none;
    box-shadow: 0px 1px 1px ;
}

.text2{
    text-align: center;
    border: solid 1px;
    height: 10.8rem;
    width: 20rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: -20px;
    padding-top: 4rem;
    border: none;
    box-shadow: 0px 1px 1px ;
}

.text3{
    text-align: center;
    border: solid 1px;
    height: 10.8rem;
    width: 20rem;
    margin-right: 6rem;
    padding-top: 4rem;
    margin-top: -20px;
    border: none;
    box-shadow: 0px 1px 1px ;
}

.icon{
    color: red;
    padding-top: 2rem;
    height: 5vh;
}


.div1 {
    width: 100%;
    height: 80vh;
    margin-top: 4rem;
    margin-bottom: 3.7rem;
    padding-left: 3rem;
    background-color: rgb(255, 208, 208);
    display: flex;
}

#h1{
    text-align: center;
    font-size: 4vh;
    padding: 1vh;
}

.h1 {
    color: rgb(241, 21, 21);
    font-size: 30px;
    padding-top: 6rem;
}

.h2 {
    padding-top: 3vh;
    font-size: 20px;
}

.p1 {
    padding-top: 2.5vh;
}

.p2 {
    padding-top: 2.5vh;
}

.div1_1 {
    display: flex;
}

.login{
    border: 1px solid rgb(212, 212, 212);
    width: 55vh;
    height: 50vh;
    background-color: white;
    border-radius: 7px;
    margin-top: 6rem;
    margin-left: 6rem;
}

.box {
    border: 1px solid;
    width: 200px;
    height: 50px;
}

.logo {
    width: 25px;
    padding: 4vh;
}

.div2 {
    width: 50vh;
    height: 12vh;
    background-color: rgb(255, 208, 208);
    display: flex;
    margin-bottom: 3vh;
    border: 1px solid;
    margin-top: 4vh;
}

.call_mail {
    padding: 3vh;
    font-size: 2.4vh;
}

.f {
    display: flex;
}

svg {
    fill: rgb(241, 21, 21);
}

.b {
    font-size: 20px;
    padding-bottom: 3vh;
}

.input1{
    text-align: center;
    width: 40vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 3vh;
    margin-left: 7vh;
    
}

.input2{
    text-align: center;
    width: 40.6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 3vh;
    margin-left: 7vh;
}

.btn{
    height: 2rem;
    width: 6rem;
    color: white;
    background-color: rgb(241, 21, 21);
    margin-left: 20vh;
    margin-top: 4vh;
    border: none;
    border-radius: 7px;
}